* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Barlow Condensed", sans-serif;
    color: #242424;
    width: 100%;
    background-color: white;
    text-align: center;
    font-size: 1.4rem;
}

a{
    color: #1873cde0;
}
h2, h4, h5, h6, #sideNav {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}
h1, .mobile-name {
    font-family: "Just Another Hand", cursive;
    font-size: 7.5rem;
    letter-spacing: 0.1rem;
}

/* -----------------------navigation bar --------------------- */
.navbar {
    background-color: #242424;

}
.navbar-brand {
    display: flex;
    padding: 0.5rem;
    flex-flow: column;
}
.navbar-toggler {
    display: none;
}


.img-profile {
    max-width: 12rem;
    max-height: 12rem;
    border: 0.3rem solid #1605eee0;
    border-radius: 100%;
}
#sideNav {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 100vh;
    place-content: center;
}


/* -----------experience section -------------------*/

.card{
    border: none;
}
.card-img-top {
    width: 50%;
    margin: 1% auto;
}
/*---------------- education ------------------------ */
.resume-section {
    padding-top: 3rem !important;
}




/*------------------ about -------------------- */

.content {
    padding-left: 18rem;
    width: 100%;
}

#about-image{
    height: 380px;
    width: 330px;
    border-radius: 5%;
    
    border-color: black;
    border-style:inherit;
}
/* ----------------------contact ---------------------------- */
.contact-form {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group {
    width: 50%;
    padding-left: 0;
}

.btn {
    font-weight: 700;
    letter-spacing: 0.1rem;
    color: white;
    background-color: #1605eee0;
    width: 50%;
    border: none;
}





/* -------------------------------------MEADIA QUERIES--------------------------------------------- */
@media screen and (max-width:800px) {

    .img-profile {
        display: none;
    }

    
}
